body {
  font-family: Josefin Sans;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
}
#scrollToTop a i:before {
  background: #ffbc00;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
}
.mbr-arrow a i {
  color: #ffbc00;
}
.form-control {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #f9e2af;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9e2af;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9e2af !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5aeb5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f9e2af' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-vd23lcKeJi {
  z-index: 1000;
  width: 100%;
}
.cid-vd23lcKeJi .navbar-collapse {
  transition: none;
  min-height: 100px;
}
.cid-vd23lcKeJi nav.navbar {
  position: fixed;
}
.cid-vd23lcKeJi .nav-item {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cid-vd23lcKeJi .nav-item:hover {
  background: white;
}
@media (max-width: 992px) {
  .cid-vd23lcKeJi .nav-item {
    height: auto;
  }
}
.cid-vd23lcKeJi .navbar-nav {
  margin: auto;
  height: 100%!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-vd23lcKeJi .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-vd23lcKeJi .dropdown-menu {
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-vd23lcKeJi .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-vd23lcKeJi .dropdown-item:hover,
.cid-vd23lcKeJi .dropdown-item:focus {
  background: white !important;
}
.cid-vd23lcKeJi .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-vd23lcKeJi .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-vd23lcKeJi .nav-dropdown .link {
  padding: 0.6em .6em !important;
  margin: 0 0.6em !important;
}
.cid-vd23lcKeJi .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-vd23lcKeJi .nav-link {
  position: relative;
}
.cid-vd23lcKeJi .container {
  display: flex;
  margin: auto;
}
.cid-vd23lcKeJi .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  margin: 0 0.3rem;
  border-radius: 10px;
}
.cid-vd23lcKeJi .dropdown-menu,
.cid-vd23lcKeJi .navbar.opened {
  background: #efefef !important;
}
.cid-vd23lcKeJi .nav-item:focus,
.cid-vd23lcKeJi .nav-link:focus {
  outline: none;
}
.cid-vd23lcKeJi .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-vd23lcKeJi .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-vd23lcKeJi .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  vertical-align: sub;
}
.cid-vd23lcKeJi .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-vd23lcKeJi .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-vd23lcKeJi .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-vd23lcKeJi .navbar {
  min-height: 100px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(239, 239, 239, 0);
}
.cid-vd23lcKeJi .navbar.opened {
  transition: all 0.3s;
}
.cid-vd23lcKeJi .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-vd23lcKeJi .navbar .navbar-logo img {
  width: auto;
}
.cid-vd23lcKeJi .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-vd23lcKeJi .navbar.collapsed {
  justify-content: center;
}
.cid-vd23lcKeJi .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-vd23lcKeJi .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-vd23lcKeJi .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-vd23lcKeJi .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-vd23lcKeJi .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-vd23lcKeJi .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-vd23lcKeJi .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-vd23lcKeJi .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-vd23lcKeJi .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-vd23lcKeJi .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-vd23lcKeJi .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-vd23lcKeJi .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-vd23lcKeJi .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-vd23lcKeJi .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-vd23lcKeJi .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-vd23lcKeJi .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-vd23lcKeJi .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-vd23lcKeJi .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-vd23lcKeJi .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-vd23lcKeJi .navbar.navbar-short {
  min-height: 60px;
}
.cid-vd23lcKeJi .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-vd23lcKeJi .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-vd23lcKeJi .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-vd23lcKeJi .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-vd23lcKeJi .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-vd23lcKeJi .dropdown-item.active,
.cid-vd23lcKeJi .dropdown-item:active {
  background-color: transparent;
}
.cid-vd23lcKeJi .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-vd23lcKeJi .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-vd23lcKeJi .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-vd23lcKeJi .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #efefef;
}
.cid-vd23lcKeJi .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-vd23lcKeJi .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-vd23lcKeJi ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-vd23lcKeJi .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-vd23lcKeJi button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-vd23lcKeJi button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-vd23lcKeJi button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-vd23lcKeJi button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-vd23lcKeJi button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-vd23lcKeJi button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-vd23lcKeJi nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-vd23lcKeJi nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-vd23lcKeJi nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-vd23lcKeJi nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-vd23lcKeJi .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-vd23lcKeJi a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-vd23lcKeJi .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-vd23lcKeJi .navbar {
    height: 70px;
  }
  .cid-vd23lcKeJi .navbar.opened {
    height: auto;
  }
  .cid-vd23lcKeJi .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-vd20IgqqZD {
  background: #ffffff;
  background: linear-gradient(135deg, #ffffff, #69b9d0);
}
.cid-vd20IgqqZD .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-vd20IgqqZD .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-vd20IgqqZD .image-block {
    width: 100% !important;
  }
}
.cid-vd22rIvtIK {
  background: #ffffff;
  background: linear-gradient(135deg, #ffffff, #69b9d0);
}
.cid-vd22rIvtIK .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-vd22rIvtIK .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-vd22rIvtIK .image-block {
    width: 100% !important;
  }
}
.cid-vd27s15fHG {
  background: #ffffff;
  background: linear-gradient(135deg, #ffffff, #69b9d0);
}
.cid-vd27s15fHG .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-vd27s15fHG .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-vd27s15fHG .image-block {
    width: 100% !important;
  }
}
.cid-vd27rAMsgG {
  background: #ffffff;
  background: linear-gradient(135deg, #ffffff, #69b9d0);
}
.cid-vd27rAMsgG .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-vd27rAMsgG .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-vd27rAMsgG .image-block {
    width: 100% !important;
  }
}
.cid-vd22J8tsHN {
  padding-top: 60px;
  padding-bottom: 45px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f9e2af;
}
.cid-vd22J8tsHN .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-vd22J8tsHN .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-vd22J8tsHN .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-vd22J8tsHN .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-vd22J8tsHN .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #ffffff, #f9e2af);
}
.cid-vd22J8tsHN .icon-focus {
  display: none;
}
.cid-vd22J8tsHN .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-vd22J8tsHN ul {
  font-size: 0;
}
.cid-vd22J8tsHN .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0 !important;
  transition: padding, border 0s, transform 0.2s;
}
.cid-vd22J8tsHN .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-vd22J8tsHN .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #f9e2af, #f5aeb5);
}
.cid-vd22J8tsHN .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-vd22J8tsHN .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-vd22J8tsHN .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-vd22J8tsHN .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-vd22J8tsHN .btn:hover {
  background: transparent !important;
}
.cid-vd22J8tsHN .btn:hover:before {
  background: transparent !important;
}
.cid-vd22J8tsHN .btn:before {
  background-color: transparent !important;
}
.cid-vd22J8tsHN .btn:focus {
  box-shadow: none;
}
.cid-vd22J8tsHN .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-vd23YRXLkb {
  background-color: #f9e2af;
}
.cid-vd23YRXLkb input {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  border: none!important;
  box-shadow: none;
  border-bottom: 1px solid #0c5b47!important;
}
.cid-vd23YRXLkb textarea {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  border: none!important;
  box-shadow: none;
  border-bottom: 1px solid #0c5b47!important;
}
.cid-vd23YRXLkb a {
  padding: 0;
  border: 0px;
  transition: all 0.2s ease-out;
  padding-left: 0;
  padding-right: 0;
  word-break: normal;
  justify-content: center;
}
.cid-vd23YRXLkb .btn {
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 25px;
}
.cid-vd23YRXLkb .form-group {
  display: inline-block;
  margin-right: 0;
}
.cid-vd23YRXLkb .left {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-vd23YRXLkb .mbr-section-title {
  padding-bottom: 10px;
  color: #0c5b47;
  font-size: 42px;
}
.cid-vd23YRXLkb .right {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
}
.cid-vd23YRXLkb .container {
  display: flex;
  padding: 0;
  margin: auto;
  max-width: initial;
}
@media (max-width: 690px) {
  .cid-vd23YRXLkb .right,
  .cid-vd23YRXLkb .left {
    width: 100%;
  }
  .cid-vd23YRXLkb .container {
    display: block;
  }
  .cid-vd23YRXLkb .google-map {
    height: 27rem;
  }
  .cid-vd23YRXLkb .right {
    padding-top: 49px;
    padding-bottom: 40px;
  }
}
@media (min-width: 690px) {
  .cid-vd23YRXLkb .right,
  .cid-vd23YRXLkb .left {
    width: 50%;
  }
}
.cid-vd23YRXLkb .desc {
  color: #0c5b47;
}
.cid-vd23YRXLkb .google-map {
  filter: grayscale(0.9);
  height: 31rem;
  position: relative;
}
.cid-vd23YRXLkb .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-vd23YRXLkb .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-vd23YRXLkb .google-map[data-state] {
  background: #e9e5dc;
}
.cid-vd23YRXLkb .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-vd23YRXLkb input,
.cid-vd23YRXLkb textarea {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}
.cid-vd23YRXLkb .mbr-text {
  padding-bottom: 20px;
}
.cid-vd23YRXLkb .form-control {
  font-style: italic;
  color: #1b745e !important;
  font-family: crimson text,serif;
}
.cid-vd29SmgZbF {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9e2af;
  transition: background-color 0.3s ease-in-out;
}
.cid-vd29SmgZbF:hover {
  background-color: #e7dacc;
}
.cid-vd29SmgZbF .mbr-section-title {
  margin: 0;
}
.cid-vd29SmgZbF .card-wrapper {
  z-index: 3;
}
.cid-vd29SmgZbF .full-link {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-vd29SmgZbF .popup-btn.card-wrapper {
  z-index: 1 !important;
}
